@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

:root{
    --font-primary: 'Manrope';
}
body {
    margin: 0;
    font-family: var(--font-primary);

}
.Silicon-header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  padding: 12px 20px;
  background-color: #f2f2f2;
    
}
.spacer {
    width: 40px;
}

.logo-link img {
    width: 100%;
    max-width: 120px;
    height: auto;
    padding: 20px;
}

.header-dark-mode {
    display: flex;
    align-items: center;     
    font-family: var(--font-primary);
    color:#565973;
    cursor: pointer;

}
.header-button {
    display: flex;
    align-items: center;
    justify-self: end;
    

}

.header-button button {
    padding: 8px 16px;
    background-color: #6366F1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: var(--font-primary);
    
}

.icon-login {
    width: 20px;
    vertical-align: middle;

}


.wrapper {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
