@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-body-text: #565973;
    --font-primary: 'Manrope';
    --color-heading-text: #0B0F19;
    --color-button:  #6366F1;
}
body {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-body-text);
    margin: 0;
    font-family: "Manrope", sans-serif;
}

h1,h2,h3,h4,h5 {
    color: var(--color-heading-text)
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right:auto;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box
    
}
.Silicon-header {
    background-color: #ffffff;

    .header-area{
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-wrap: wrap;
       
       .actions {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
       }
    }
    
}

.logotype {
    width: 15px;
    height: auto;
    padding: 20px;
}

.header-dark-mode {
    display: flex;
    align-items: right;     
    font-family: "Manrope", sans-serif;
    color: var(--color-body-text);
    cursor: pointer;
}

.switch {
    display: flex;
    align-items: left;
    padding-left: 0;
}

.img {
    width: 100%;
    height: auto;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: #6366F1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    &:hover{
        text-decoration: underline;
    }    
}
.hero{
    background: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(99, 102, 241, 0.07) 83%);
    padding-top: 5rem;
}

.hero-area{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: left;
}

.hero-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hero-title{
    font-size: 40px;
    font-weight: 800;                 
}                        
       
.hero-ingress{
    font-size: 16px;
    font-weight: 400;
} 
.app-download-buttons{    
    .btn-download1 img{
        width: 25%;       
    }
    .btn-download2 img{
        width: 25%;          
    }
}    

.hero-image img{
    max-width: 100%;
    height: auto;
    padding-left: none;                   
}       

.logos{
    display: none;
}
.logos-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    padding-top: 5%;
    padding-bottom: none;
    
}
.logos-area img{
    max-width: 90%;
    height: auto;
}
.features-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;    
}

.features-area{
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    padding-top: 8%;
    gap: 2rem;   
}


.features-mobile img{
    max-width: 100%;
    height: auto;
    display: block;    
}
.features-title{
    font-size: 32px;
    font-weight: 800; 
}
.features-paragraph{
    font-size: 16px;
    font-weight: 300; 
    color: #333333ba;
    padding-top: 1rem;
}

.features-grid {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.grid-item {  
    display: flex;
    padding: 1rem;
    grid-template-columns: 1fr 2fr;
    text-align: left;  
}
.features-icon1 img {
    width: 175%; 
    height: auto;
}
.features-grid-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.75rem;
    margin-left: 3rem;     
}
.features-grid-paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0.25rem;
    margin-left: 3rem; 

}
.how{
    background-color: #F3F6FF;
}
.how-title{
    text-align: center;
    font-size: 32px;
    font-weight: 800; 
    padding-top: 5rem;    
    padding-bottom: 3rem; 
    margin-top: 6rem;
}

.how-iphone-area{
    display: flex;
    justify-content: center;

}
.how-iphone-area img{
    max-width: 100%;
    height: auto;
    
}
.how-iphones-area{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    display: none;   
  
}
.how-iphones-area img{
    max-width: 100%;
    height: auto;
    
}
.how-content-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;    
    padding-bottom: 4rem; 
    max-width: 500px;
    margin: 0 auto; 
}
.how-content-desktop{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3rem;    
    padding-bottom: 4rem; 
    max-width: 700px;
    margin: 0 auto; 
}
.how-paragraph-mobile{
    padding-top: 1rem;
}
.how-paragraph-desktop{
    padding-top: 1rem;
}

.subscribe-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
      
}
.subscribe-left-column-mobile{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.subscribe-left-column-desktop{
    display: none;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.subscribe-left-column-desktop img{
    max-width: 100%;
    max-height: auto;
    padding-left: 3rem;
}
.subscribe-left-column-tablet{
    display: none;
}

.subscribe-right-column{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.form-subscribe{
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;      
    font-size: 1rem;
    .input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); /*Här har Copilot hjälpt mig med lösning*/
    width: 8%;
    height: auto;  
}

.input-wrapper input {
  width: 100%;
  padding: 8px 8px 8px 40px;  
}

    
    .form-group{
        display: flex;
        align-items: center;        
    }
    label {
        font-size: 1rem;        
    }
    input{
        font-size: 1rem;
        padding: 8px;
        border: 1px solid #b3b3b3ba;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; 
            
    }
    .submit-button{
        background-color: #6366F1;
        color: white;
        padding: 10px 20px;  
        border: none;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        cursor: pointer;
    }
    
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 767px) {
    .header-dark-mode{
        display: none;
    }
    .switch{
        display: none;
    }
   .grid-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }  
   .features-mobile {
    display: none;
  }
  .subscribe-area{
    background-color: #F3F6FF;
    margin-top: 3rem;
    padding: 1rem;  
    border-radius: 3%;      
}
.subscribe-title-mobile{
    font-size: 40px;
    max-width: 400px;
}
.subscribe-left-column-desktop{
    display: none;    
}
      
}

@media (min-width: 768px) {
    .header-dark-mode{
        display: none;
    }
    .switch{
        display: none;
    }
   .features-area {
    grid-template-columns: 1fr 2fr;
    text-align: left;    
  }
  .how-iphones-area{
    display: flex;
  }
  .how-iphone-area{
    display: none;
  }
  .how-content-mobile{
    display: none;    
}
.how-content-desktop{
    display: flex;
}
.subscribe-left-column-tablet{
    display: flex;
    align-items: center;    
}
.subscribe-title-tablet{
    font-size: 30px;
    max-width: 400px;
    padding-left: 2rem;
}
  .subscribe-left-column-mobile{
    display: none;
}
  .subscribe-left-column-desktop{
    display: none;    
}
.subscribe-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: #F3F6FF;
    margin-top: 3rem;
    padding: 1rem;        
}
    
}

@media (min-width: 1024px) {
  .header-area {
    flex-wrap: nowrap;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .logotype {
    width: 30px;
  }
  .hero-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    text-align: left;
  }  
   .header-dark-mode{
        display: block;
    }
    .switch{
        display: block;
    }  
            
 .logos{
    display: block;
 }
  .subscribe-left-column-mobile{
    display: none;
}
.subscribe-left-column-tablet{
    display: none;
}
 .subscribe-left-column-desktop{
    display: flex;
}
}

@media (min-width: 1320px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

