@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-body-text: #565973;
    --font-primary: 'Manrope';
    --color-heading-text: #0B0F19;
    --color-button:  #6366F1;
}
body {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-body-text);
    margin: 0;
    font-family: "Manrope", sans-serif;
}

h1,h2,h3,h4,h5 {
    color: var(--color-heading-text)
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right:auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Silicon-header {

    .header-area{
       display: flex;
       justify-content: space-between;
       align-items: center;
       
       .actions {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
       }
    }
   
  background-color: #ffffff;
    
}

.logotype {
    width: 15px;
    height: auto;
    padding: 20px;
}

.header-dark-mode {
    display: flex;
    align-items: right;     
    font-family: "Manrope", sans-serif;
    color: var(--color-body-text);
    cursor: pointer;
}

.switch {
    display: flex;
    align-items: left;
    padding-left: 0;
}


.header-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: #6366F1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    &:hover{
        text-decoration: underline;
    }
    
}





